In [1]:
#imports
import numpy as np
import pandas as pd

In [2]:
#read the data
data=pd.read_csv('data/Week 4_data.csv')

In [3]:
data.head()

    c1    c2   c3   c4   c5   c6    c7         c8
0 -0.6  -4.9  1.1  1.3  0.8  2.9  14.2  Excellent
1  0.0  10.6  0.8  1.2  0.3  1.3  -5.6  Excellent
2  1.2   2.6  1.9  1.8  2.7  2.3 -11.2       Fair
3  0.0   3.6  0.5  0.3  0.8  1.2   1.7  Very Good
4  0.0  -2.9  0.2  0.3  0.1  0.4  24.6       Good

In [4]:
data.tail()

       c1   c2   c3   c4   c5   c6   c7         c8
2995  0.1  NaN  2.9  2.2  0.4  0.1  3.0       Poor
2996  0.6  1.2  0.2  2.7  1.2  0.8  8.9       Fair
2997  0.0  6.5  0.4  0.3  2.3  2.7  8.9       Good
2998  1.8 -4.2  0.5  3.2  1.3  0.3 -7.9  Very Good
2999  0.1 -2.5  1.7  0.4  2.9  0.8  0.9  Very Good

# Find and correct misprints/errors
Since the only feature that has string data is c8, therefore that feature is considered for this task.

In [5]:
#find the unique values of the feature
data['c8'].unique()

array(['Excellent', 'Fair', 'Very Good', 'Good', 'Poor', 'God', 'poor',
       'good', 'Por', ' Fair', 'VeryGood', ' Poor', 'Excelent'],
      dtype=object)

In [6]:
#find the location of the data records with misprints or errors
data.loc[data.c8.isin(['VeryGood','Excelent','God','poor','good','Por'])]

       c1   c2   c3    c4   c5   c6    c7        c8
163   1.7  NaN  1.4  40.8  0.6  0.3  -6.2       God
500   1.6  8.0  0.1   1.0  0.2  0.4  -6.2      poor
605   1.1  2.8  1.2   0.0  1.1  0.1  -5.1      good
856   0.5 -4.9  0.6   0.6  0.6  0.1  -4.4       Por
2389 -0.6  9.2  1.4   0.1  0.0  0.7  15.3  VeryGood
2990 -1.5  0.5  0.1   4.7  0.6  0.7   3.9  Excelent

In [7]:
##correction of the values found in the cell above
for index in data.index:
    if data.loc[index,'c8']=='God':
        data.loc[index,'c8'] = 'Good'
    elif data.loc[index,'c8']=='VeryGood':
        data.loc[index,'c8']= 'Very Good'
    elif data.loc[index,'c8']=='Excelent':
        data.loc[index,'c8']='Excellent'
    elif data.loc[index,'c8']=='poor':
        data.loc[index,'c8']='Poor'
    elif data.loc[index,'c8']=='good':
        data.loc[index,'c8']='Good'
    elif data.loc[index,'c8']=='Por':
        data.loc[index,'c8']='Poor'

In [8]:
##values after correction
data['c8'].unique()

array(['Excellent', 'Fair', 'Very Good', 'Good', 'Poor', ' Fair', ' Poor'],
      dtype=object)

# Count the total number of missing values for each column

In [9]:
##total missing values for each column
data.isnull().sum()

c1     60
c2    315
c3      0
c4      0
c5    145
c6    320
c7      0
c8      0
dtype: int64

# Percentage of missing values across columns

In [10]:
##total percentage of missing values for each column
percent_missing = data.isnull().sum() * 100 / len(data)
percent_missing

c1     2.000000
c2    10.500000
c3     0.000000
c4     0.000000
c5     4.833333
c6    10.666667
c7     0.000000
c8     0.000000
dtype: float64

# Remove columns with more than 10% missing values

In [11]:
# the columns c6 and c2 have missing values more than 10%
data=data.drop(columns=['c2', 'c6'])

In [12]:
# result after removal
percent_missing = data.isnull().sum() * 100 / len(data)
percent_missing

c1    2.000000
c3    0.000000
c4    0.000000
c5    4.833333
c7    0.000000
c8    0.000000
dtype: float64

# Remove rows with more than 20% missing values
Since we have 6 data records for each index, the 20% is 1.2

In [13]:
data.iloc[29]

c1          0.6
c3          1.4
c4          0.8
c5          1.5
c7         -7.7
c8    Very Good
Name: 29, dtype: object

In [14]:
#if row has more than 20 per cent missing values then the missing value sum is 1.2
import numpy as np
d = np.where(data.isnull().sum(axis=1)>1.2)
d

(array([ 136,  623, 1201, 2960]),)

In [15]:
data= data.drop(data.index[d])

In [16]:
#verify result
d = np.where(data.isnull().sum(axis=1)>1.2)
d

(array([], dtype=int64),)

# Replace missing values for the remaining missing cells with Mean Imputation

In [17]:
# check for all the missing values
data.isnull().sum()

c1     56
c3      0
c4      0
c5    141
c7      0
c8      0
dtype: int64

In [18]:
#check for mean and standard deviation to check that mean imputation is possible
print(data['c1'].mean())
print(data['c1'].std())
print(data['c5'].mean())
print(data['c5'].std())

-0.015748299319727887
1.0026641703464774
0.985218914185634
0.9755626982406297

In [19]:
#since the mean of c5 and c1 is reasonably close to sample data, fill with mean
data['c5']=data['c5'].fillna(data['c5'].mean())
data['c1']=data['c1'].fillna(data['c1'].mean())

In [20]:
#clean data without null values
data.isnull().sum()

c1    0
c3    0
c4    0
c5    0
c7    0
c8    0
dtype: int64